
<div class="container1">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/home"><i>J</i>-Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto" >
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/user-account">Users account<span class="sr-only"></span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/checkbook-requests">Checkbook requests<span class="sr-only"></span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/authorize">Authorize<span class="sr-only"></span></a>
            </li>
      
            <li class="nav-item dropdown" >
                <a class="nav-link" routerLink="/" id="logout" >Logout</a>
            </li>
          </ul>
          
        </div>
      </nav>
    </div>
