#logout {
    margin-right: 5px;
}

.container1{
    border-bottom: 1px solid #003087;
  }

.container{
    
    display:flex;
    justify-content:center;
    align-items:center;
 }

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  
  background-color:#dbecfd;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #009CDE;
  color:#f6f7f8;
}